* {
    scrollbar-width: thin;
    scrollbar-color: #283244;
}

.navbar {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    padding: 10px;
    margin-right: 10px;
    margin-left: auto;
    width: 65px;
    height: auto;
}

.nav-menu a {
    padding: 10px;
    color: rgb(66, 77, 82);
    text-decoration: none;
    margin-left: 16px;
    margin-right: auto;
    font-weight: 700px;
}

.nav-menu a:hover {
    color: rgb(99, 137, 218);
    text-decoration: none;
}

.headline {
    margin: auto;
    padding: auto;
    margin-left: -10px;
    margin-right: auto;
}

.headline-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.headline-link:hover {
    color: grey;
    text-decoration: none;
}

.large-width-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

.text-b-center {
    text-align: center;
    font-weight: bold;
}

main {
    display: auto;
}

.title {
    color: rgb(0, 0, 0);
    text-align: center;
}

.dark-light-button {
    margin-right: 10px;
    margin-left: auto;
    background-color: #4c77af;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.footer {
    background-color: aliceblue;
}

.legal-content {
    background-color: aliceblue;
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
}

.legal-text {
    color: royalblue;
    letter-spacing: 0.025em;
}

.legal-text-link {
    color: royalblue;
    text-decoration: none;
}

.legal-text-link:hover {
    color: goldenrod;
    text-decoration: none;
}

.author {
    padding: auto;
    font-size: 12px;
    margin-right: 16px;
    margin-left: 16px;
}

.author-a {
    color: grey;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700px;
}

.author-a:hover {
    color: yellow;
    text-decoration: none;
}
